<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/styles.css') }}">
    <title>Add new ninja</title>
</head>
<body>

<div class="top_information">
        <h1>New ninja</h1>
        <a href="/dojos" class="dojo_link">Home</a>
</div>
    <form action="/ninjas/add" method="POST" class="add_ninja_form">
        <label for="select">Select dojo</label>
        <select name="dojos_id" id="dojos_id">
            {% for dojo in dojos %}
                <option value="{{dojo['id']}}">{{dojo['name']}}</option>
            {% endfor %}
        </select>
        <label for="first_name">First name</label>
        <input type="text" name="first_name" id="first_name">
        <label for="last_name">Last name</label>
        <input type="text" name="last_name" id="last_name">
        <label for="age">Age</label>
        <input type="number" name="age" id="age">
        <button type="submit" class="BTNcreate">Create</button>
    </form>


</body>
</html>


